<!DOCTYPE html>
<html>
    <head>
        <title>Terraforming Mars</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" />
        <link rel='stylesheet' type='text/css' media='all' href='/nes.min.css' />
        <link rel='stylesheet' type='text/css' media='all' href='/styles.css' />
    </head>
    <body>
        <div id="app">
            <game-home inline-template v-if="screen === 'game-home'" :game="$data.game">
                <div id="game-home">
                    <h1>Terraforming Mars - Game Home</h1>
                    <p>Send players their links below. As game administrator pick your link to use.</p>
                    <ul>
                        <li v-for="player in game.players">
                            <a :href="'/player?id=' + player.id">{{player.name}} - {{player.color}}</a>
                        </li>
                    </ul>
                </div>
            </game-home>
            <player-home inline-template v-if="screen === 'player-home'" :player="$data.player" :key="$data.playerkey">
                <div id="player-home">
                    <h1 :style="'color:' + player.color">Teraforming Mars - Player Home - {{player.name}}</h1>
                    <div v-if="player.corporationCard">
                    <div>Generation: {{player.generation}}</div>
                    <div>Terraform Rating: {{player.terraformRating}}</div>
                    <h2>Corporation Card</h2>
                    <card :card="player.corporationCard"></card>
                    <div v-if="player.playedCards.length > 0">
                        <h2>Played Cards</h2>
                        <div v-for="card in player.playedCards" :key="card"><card :card="card"></card></div>
                    </div>
                    <div v-if="player.cardsInHand.length > 0">
                        <h2>Cards In Hand</h2>
                        <div v-for="card in player.cardsInHand" :key="card"><card :card="card"></card></div>
                    </div>
                    <div>
                        <h2>Resources</h2>
                        <table class="nes-table is-bordered is-centered">
                            <thead>
                                <tr>
                                    <th colspan="2">Mega Credits</th>
                                    <th colspan="2">Steel</th>
                                    <th colspan="2">Titanium</th>
                                </tr>
                                <tr>
                                    <th>Stock</th>
                                    <th>Production</th>
                                    <th>Stock</th>
                                    <th>Production</th>
                                    <th>Stock</th>
                                    <th>Production</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{player.megaCredits}}</td>
                                    <td>{{player.megaCreditProduction}}</td>
                                    <td>{{player.steel}}</td>
                                    <td>{{player.steelProduction}}</td>
                                    <td>{{player.titanium}}</td>
                                    <td>{{player.titaniumProduction}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="nes-table is-bordered is-centered">
                            <thead>
                                <tr>
                                    <th colspan="2">Plants</th>
                                    <th colspan="2">Energy</th>
                                    <th colspan="2">Heat</th>
                                </tr>
                                <tr>
                                    <th>Stock</th>
                                    <th>Production</th>
                                    <th>Stock</th>
                                    <th>Production</th>
                                    <th>Stock</th>
                                    <th>Production</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{player.plants}}</td>
                                    <td>{{player.plantProduction}}</td>
                                    <td>{{player.energy}}</td>
                                    <td>{{player.energyProduction}}</td>
                                    <td>{{player.heat}}</td>
                                    <td>{{player.heatProduction}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>Oxygen Level ({{player.oxygenLevel}})</h2>
                    <div>
                        <progress class="nes-progress is-success" max="14" :value="player.oxygenLevel"></progress>
                    </div>
                    <h2>Temperature ({{player.temperature}})</h2>
                    <div>
                        <progress class="nes-progress is-warning" max="38" :value="player.temperature + 30"></progress></div>
                    <h2>Oceans ({{player.oceans}})</h2>
                    <div>
                        <progress class="nes-progress is-primary" max="9" :value="player.oceans"></progress>
                    </div>
                    <h2>Board</h2>
                    <board :spaces="player.spaces"></board>
                    </div>
                    <waiting-for :players="player.players" :waitingfor="player.waitingFor"></waiting-for>
                </div>
            </player-home>
            <create-game-form inline-template v-if="screen === 'create'">
                <div id="create-game">
                    <h1>Terraforming Mars</h1>
                    <h2>Create New Game</h2>
                    <div class="nes-container with-title" v-for="playerIndex in [1, 2, 3, 4, 5]">
                        <p class="title">Player {{playerIndex}}</p>
                        <div class="nes-field">
                            <label :for="'playerName' + playerIndex">Name:</label>
                            <input v-model="players[playerIndex - 1].name" :id="'playerName' + playerIndex" type="text" class="nes-input" />
                        </div>
                        <label :for="'playerColor' + playerIndex">Color:</label>
                        <div class="nes-select">
                            <select :id="'playerColor' + playerIndex" v-model="players[playerIndex - 1].color">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="yellow">Yellow</option>
                                <option value="blue">Blue</option>
                                <option value="black">Black</option>
                            </select>
                        </div>
                        <label>
                            <input type="checkbox" class="nes-checkbox" v-model="players[playerIndex - 1].beginner" />
                            <span>Is Beginner</span>
                        </label>
                        <label>
                            <input v-model="firstIndex" class="nes-radio" type="radio" v-bind:value="playerIndex - 1" />
                            <span>Goes First</span>
                        </label>
                    </div>
                    <button class="nes-btn is-primary" v-on:click="createGame">Create Game</button>
                </div>
            </create-game-form>
        </div>
        <script src="/main.js"></script>
    </body>
</html>
