.board {
    width: 453px;
    height: 480px;
    background-color: white;
    position: relative;
}
.board .row {
    height: 45px;
    width: 500px;
    display: flex;
    flex-direction: row;
}
.board .tile {
    width: 50px;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.board .tile > .name {
    display: block;
    position: relative;
    font-size: 10px;
    width: 55px;
    text-align: center;
}
.board .tile > .colony {
    position: absolute;
    font-size: 65px;
    color: silver;
}
.board .tile > .land {
    position: absolute;
    font-size: 65px;
    color: tan;
}
.board .tile > .aquifer {
    position: absolute;
    font-size: 65px;
    color: lightblue;
}
.board .tile > .bonus {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: black;
}
.board .tile > .bonus.steel {
    font-size: 12px;
}
.board .tile > .bonus.plant {
    font-size: 15px;
}
.board .tile > .bonus + .bonus {
    left: 30px;
}

