.board {
    width: 453px;
    height: 480px;
    background-color: white;
    position: relative;
}
.board .row {
    height: 45px;
    width: 500px;
    display: flex;
    flex-direction: row;
}
.board .tile {
    width: 50px;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.board .tile .red,
.board .tile .green,
.board .tile .yellow,
.board .tile .blue,
.board .tile .black {
    width: 20px;
    height: 20px;
    position: relative;
    top: 25px;
    display: block;
    left: 17px;
}
.board .tile .red {
    background-color: red;
}
.board .tile .green {
    background-color: green;
}
.board .tile .yellow {
    background-color: yellow;
}
.board .tile .blue {
    background-color: blue;
}
.board .tile .black {
    background-color: black;
}
.board .tile .name {
    display: block;
    position: relative;
    font-size: 10px;
    line-height: 10px;
    width: 55px;
    text-align: center;
}

.board .tile .colony,
.board .tile .land,
.board .tile .special,
.board .tile .greenery,
.board .tile .ocean,
.board .tile .city,
.board .tile .aquifer {
    position: absolute;
    font-size: 65px;
}
.board .tile > .colony {
    color: silver;
}
.board .tile > .land {
    color: tan;
}
.board .tile > .special {
    color: gold;
}
.board .tile > .greenery {
    color: green;
}
.board .tile > .ocean {
    color: aqua;
}
.board .tile > .city {
    color: #2F4F4F;
}
.board .tile > .aquifer {
    color: lightblue;
}
.board .tile > .bonus {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: black;
}
.board .tile > .bonus.steel {
    font-size: 12px;
}
.board .tile > .bonus.plant {
    font-size: 15px;
}
.board .tile > .bonus + .bonus {
    left: 30px;
}

