.card-tile-ares {
	width: 47px !important;
	height: 51px !important;
	background-size: auto !important;
}

.card-tile-biofertilizer-facility {
	.board-space-tile--biofertilizer-facility;
  .card-tile-ares;
}

.card-tile-capital-ares {
	.board-space-tile--capital-ares;
  .card-tile-ares;
}

.card-tile-commercial-district-ares {
	.board-space-tile--commercial-district-ares;
  .card-tile-ares;
}

.card-tile-industrial-center-ares {
	.board-space-tile--industrial-center-ares;
  .card-tile-ares;
}

.card-tile-lava-flows-ares {
	.board-space-tile--lava-flows-ares;
  .card-tile-ares;
}

.card-tile-mohole-area-ares {
	.board-space-tile--mohole-area-ares;
  .card-tile-ares;
}

.card-tile-metallic-asteroid {
	.board-space-tile--metallic-asteroid;
  .card-tile-ares;
}

.card-tile-mining-steel {
	.board-space-tile--mining-steel;
  .card-tile-ares;
}

.card-tile-mining-titanium {
	.board-space-tile--mining-titanium;
  .card-tile-ares;
}

.card-tile-natural-preserve-ares {
	.board-space-tile--natural-preserve-ares;
  .card-tile-ares;
}

.card-tile-nuclear-zone-ares {
	.board-space-tile--nuclear-zone-ares;
  .card-tile-ares;
}

.card-tile-restricted-area-ares {
	.board-space-tile--restricted-area-ares;
  .card-tile-ares;
}

.card-tile-ocean-city {
	.board-space-tile--ocean-city;
  .card-tile-ares;
}

.card-tile-ocean-farm {
	.board-space-tile--ocean-farm;
  .card-tile-ares;
}

.card-tile-ocean-sanctuary {
	.board-space-tile--ocean-sanctuary;
  .card-tile-ares;
}

.card-tile-solar-farm {
	.board-space-tile--solar-farm;
  .card-tile-ares;
}

.board-space-tile--ocean-farm {
	background: url(assets/board_icons_ares.png) -29px -27px no-repeat;
}

.board-space-tile--ocean-sanctuary {
	background: url(assets/board_icons_ares.png) -79px -27px no-repeat;
}

.board-space-tile--ocean-city {
	background: url(assets/board_icons_ares.png) -129px -27px no-repeat;
}

.board-space-tile--nuclear-zone-ares {
	background: url(assets/board_icons_ares.png) -198px -27px no-repeat;
}

.board-space-tile--lava-flows-ares {
	background: url(assets/board_icons_ares.png) -246px -27px no-repeat;
}

.board-space-tile--mining-steel {
	background: url(assets/board_icons_ares.png) -294px -27px no-repeat;
}

.board-space-tile--restricted-area-ares {
	background: url(assets/board_icons_ares.png) -342px -27px no-repeat;
}

.board-space-tile--natural-preserve-ares {
	background: url(assets/board_icons_ares.png) -390px -27px no-repeat;
}

.board-space-tile--mohole-area-ares {
	background: url(assets/board_icons_ares.png) -438px -27px no-repeat;
}

.board-space-tile--commercial-district-ares {
	background: url(assets/board_icons_ares.png) -486px -27px no-repeat;
}

.board-space-tile--industrial-center-ares {
	background: url(assets/board_icons_ares.png) -534px -27px no-repeat;
}

.board-space-tile--ecological-zone-ares {
	background: url(assets/board_icons_ares.png) -581px -27px no-repeat;
}

.board-space-tile--capital-ares {
	background: url(assets/board_icons_ares.png) -198px -83px no-repeat;
}

.board-space-tile--solar-farm {
	background: url(assets/board_icons_ares.png) -246px -83px no-repeat;
}

.board-space-tile--metallic-asteroid {
	background: url(assets/board_icons_ares.png) -294px -83px no-repeat;
}

.board-space-tile--biofertilizer-facility {
	background: url(assets/board_icons_ares.png) -342px -83px no-repeat;
}
.board-space-tile--mining-titanium {
	background: url(assets/board_icons_ares.png) -390px -83px no-repeat;
}

.board-space-tile--dust-storm-mild {
	background: url(assets/board_icons_ares.png) -438px -83px no-repeat;
}

.board-space-tile--dust-storm-severe {
	background: url(assets/board_icons_ares.png) -486px -83px no-repeat;
}

.board-space-tile--erosion-mild {
	background: url(assets/board_icons_ares.png) -534px -83px no-repeat;
}

.board-space-tile--erosion-severe {
	background: url(assets/board_icons_ares.png) -581px -83px no-repeat;
}

.board-space-tile--empty-tile--M {
	background: url(assets/board_icons_ares.png) -29px -83px no-repeat;
	position: relative;
}

.board-space-tile--empty-tile--S {
	background-image: url(./assets/tiles/empty.png);
	width: 32px !important;
	height: 34px !important;
	background-size: 32px 34px !important;
	position: relative;
}

.board-space-tile--adjacency-tile {
	background: url(assets/board_icons_ares.png) -79px -83px no-repeat;
}

.ares-container {
	font-size: 14px;
}

.ares-global-parameter-option {
	padding-right: 16px;
}

.ma-name--networker {
	background: url(assets/ma/networker.png);
}

.ma-name--entrepreneur {
	background: url(assets/ma/entrepreneur.png);
}