.board {
	background: url(assets/mars.png);
    width: 450px;
    height: 450px;
    background-size: 450px 450px;
    background-position: 0px 0px;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 10px black);
}

#hexagon {
	transform: translate(0, -100);
}

.board_cont {
	display: inline-block;
	vertical-align: top;
	width: 505px;
	margin: 0 auto;
	background: #313131;
	padding: 30px;
	border-radius: 20px;
}

.board_legend {
	position: absolute; 
	margin-left: -470px; 
	z-index: 5; 
	pointer-events: none
}

.board_caption {
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	font-size: 10px;
	font-weight: bold;
	fill: white;
	fill-opacity: 0.5;
	pointer-events: none;
}

.board_line {
	stroke: white;
	stroke-width: 3;
	stroke-opacity: 0.3;
	pointer-events: none;
}

[id^=board_tile_]:hover, .board_space:hover {
	stroke: #9acd32;
	cursor: pointer;
}

.board_bonus {
	position: absolute;
	pointer-events: none;
	width: 15px;
	height: 17px;
}

.board_bonus--plant {
	background: url(assets/board_icons.png) -31px -1px no-repeat;
}
.board_bonus--steel {
	background: url(assets/board_icons.png) -16px -1px no-repeat;
}
.board_bonus--titanium {
	background: url(assets/board_icons.png) -1px -1px no-repeat;
}

.board_bonus--card {
	background: url(assets/board_icons.png) -48px -1px no-repeat;
	width: 14px;
	height: 18px;
}

.board_bonus--heat {
	background: url(assets/board_icons.png) -62px -1px no-repeat;
}

.board_bonus--bonusocean {
	background: url(assets/board_icons.png) -78px -1px no-repeat;
	width: 30px;
	height: 18px;
}

.board_tile {
	position: absolute;
	width: 44px;
	height: 52px;
	z-index: 2;
}

.board_tile--ocean {
	background: url(assets/board_icons.png) -80px -28px no-repeat;
	width: 46px;
}

.board_tile--city {
	background: url(assets/board_icons.png) -30px -27px no-repeat;
}

.board_tile--greenery {
	background: url(assets/board_icons.png) -130px -27px no-repeat;
}

.board_tile--mohole_area {
	background: url(assets/board_icons.png) -439px -26px no-repeat;	
}

.board_tile--commercial_district {
	background: url(assets/board_icons.png) -488px -26px no-repeat;	
}

.board_tile--ecological_zone {
	background: url(assets/board_icons.png) -583px -26px no-repeat;	
}

.board_tile--industrial_center {
	background: url(assets/board_icons.png) -536px -26px no-repeat;	
}

.board_tile--lava_flows {
	background: url(assets/board_icons.png) -248px -26px no-repeat;	
}

.board_tile--mining_area, .board_tile--mining_rights {
	background: url(assets/board_icons.png) -296px -26px no-repeat;	
}

.board_tile--natural_preserve {
	background: url(assets/board_icons.png) -391px -26px no-repeat;	
}

.board_tile--nuclear_zone {
	background: url(assets/board_icons.png) -200px -26px no-repeat;	
}

.board_tile--restricted_area {
	background: url(assets/board_icons.png) -344px -26px no-repeat;	
}

.board_cube {
	position: absolute;
	width: 21px;
	height: 21px;
	z-index: 3;
}

.board_cube--red {
	background: url(assets/board_icons.png) -24px -91px no-repeat;
}

.board_cube--blue {
	background: url(assets/board_icons.png) -94px -91px no-repeat;
}

.board_cube--black {
	background: url(assets/board_icons.png) -48px -91px no-repeat;
}

.board_cube--yellow {
	background: url(assets/board_icons.png) -72px -91px no-repeat;
}

.board_cube--green {
	background: url(assets/board_icons.png) -1px -91px no-repeat;
}

.board_space--available {
	--board_space_visibility: visible;
}

.board_space--selected {
	--board_space_selected: visible;
}
