.cards-filter-suggest {
    background: #202020;
    display: inline-block;
    padding: 10px 20px 20px;
}

.cards-filter-input {
    min-height: 250px;
    .form-input {
        max-width: 445px
    }
}

.cards-filter-results-cont {
    margin: 0 0 20px;
}

.cards-filter-result {
    .btn {
        margin-left: 10px;
    }
}
