.colony_cube {
    background: url(./assets/cube.png);
    position: absolute;
    margin-top: 185px;
    width: 30px;
    height: 30px;
    z-index: 3;
}

.colony-spaceship {
    position: absolute;
    margin-top: 70px;
    margin-left: 250px;
    width: 110px;
    height: 126px;
    transform: scale(1.2);
}

.colony-card-title-div {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.colony-card-title-span {
    font-family: Prototype;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 25px;
    margin-left: 2px;
}

.colony-content {
    font-family: Prototype;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
}

.colony-background-color {
    background: linear-gradient(to right, #ccc, rgba(0, 0, 0, 0));
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 2px;
}

.colony-grid-container {
    position: absolute;
    display: inline-block;
    margin-left: 4px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    vertical-align: middle;
}
.colony-grid-container > div {
    background: linear-gradient(#4444, #888);
    color: rgb(68, 68, 68);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 52px;
    height: 47px;
    vertical-align: middle;
    border-top: 2px solid rgb(221, 221, 221);
    border-left: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(137, 137, 137);
    border-right: 2px solid rgb(137, 137, 137);
}
.colony-grid-container > div > .production-box {
    width: 48px;
    height: 35px;
    margin-top: 0px;
}

.colony-grid-container2 {
    position: absolute;
    display: inline-block;
    margin-top: 50px;
    margin-left: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    vertical-align: middle;
    gap: 0.3rem;
}
.colony-grid-container2 > div {
    color: white;
    text-align: center;
    font-size: 34px;
    width: 50px;
    height: 47px;
    vertical-align: middle;
    text-shadow: 0 0 5px black;
}
.resource-stacked {
    min-width: 20px;
    line-height: 18px;
    position: absolute;

    &.resource-stacked--1 {
        margin: -60px 0 0 -15px;
    }

    &.resource-stacked--2 {
        margin: -60px 0 0 -15px;
    }

    &.resource-stacked--3 {
        margin: -60px 0 0 -15px;
    }
}

.ocean-tile-colony {
    padding: 10px;
    margin-top: 4px;
    margin-left: 7px;
    width: 15px;
    height: 21px;
    background-size: 35px 40px;
}

.white-x {
    display: inline-block;
    position: relative;
    left: -10px;
    top: 2px;
    vertical-align: bottom;
    margin-bottom: 9px;
    text-shadow: 1px 1px 2px black, -1px 0 #444444, 0 1px #444444, 1px 0 #444444,
        0 -1px #444444;
}
.white-x::after {
    z-index: 1;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: -38px;
    content: "X";
}

.triple-res {
    margin-left: 25px;
    margin-top: 8px;
}
.white-x--3::after {
    content: "3" !important;
}

.white-char {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.Enceladus-background {
    background-image: url("./assets/colonies-planets/enceladus.png");
    background-size: 150px 150px;
    background-position: bottom 120px right -15px;
    box-shadow: inset 0 0 4px 4px rgb(163, 201, 152), 0 0 2px 1px black;
}

.Enceladus-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(163, 201, 152), black);
}

.Pluto-background {
    background-image: url("./assets/colonies-planets/pluto.jpg");
    background-size: 150px 150px;
    background-position: bottom 117px right 7px;
    box-shadow: inset 0 0 4px 4px #c2e0f6, 0 0 2px 1px black;
}

.Pluto-title {
    text-transform: uppercase;
    background: linear-gradient(to right, #c2e0f6, black);
}

.Miranda-background {
    background-image: url("./assets/colonies-planets/miranda.jpg");
    background-size: 100px 100px;
    background-position: bottom 145px right 55px;
    box-shadow: inset 0 0 4px 4px rgb(115, 216, 255), 0 0 2px 1px black;
}

.Miranda-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(115, 216, 255), black);
}

.Io-background {
    background-image: url("./assets/colonies-planets/io.jpg");
    background-size: 200px 200px;
    background-position: bottom 60px right -20px;
    box-shadow: inset 0 0 4px 4px #eee, 0 0 2px 1px black;
}

.Io-title {
    text-transform: uppercase;
    background: linear-gradient(to right, #eee, black);
}

.Luna-background {
    background-image: url("./assets/colonies-planets/luna.jpg");
    background-position: bottom -5px right 0px;
    box-shadow: inset 0 0 4px 4px rgb(106, 185, 244), 0 0 2px 1px black;
}

.Luna-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(106, 185, 244), black);
}

.Iapetus-background {
    background-image: url("./assets/colonies-planets/iapetus.jpg");
    background-position: top 0px right -30px;
    background-size: 240px 180px;
    box-shadow: inset 0 0 4px 4px rgb(212, 206, 120), 0 0 2px 1px black;
}

.Iapetus-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(197, 181, 108), transparent);
}

.Mercury-background {
    background-image: url("./assets/colonies-planets/mercury.jpg");
    background-size: 110px 110px;
    background-position: top 5px right 10px;
    box-shadow: inset 0 0 4px 4px rgb(245, 193, 133), 0 0 2px 1px black;
}

.Mercury-title {
    text-transform: uppercase;
    background: linear-gradient(to right, #f3ab68, transparent);
}

.mercury-production-box {
    margin-top: 8px;
}

.Hygiea-background {
    background-image: url("./assets/colonies-planets/hygiea.jpg");
    background-position: top 0px right 10px;
    background-size: 110px 120px;
    box-shadow: inset 0 0 4px 4px rgb(209, 122, 183), 0 0 2px 1px black;
}

.Hygiea-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(199, 103, 170), transparent);
}

.Titania-background {
    background-image: url("./assets/colonies-planets/titania.jpg");
    background-position: top -5px right -30px;
    background-size: 232px 172px;
    box-shadow: inset 0 0 4px 4px rgb(63, 170, 202), 0 0 2px 1px black;
}

.Titania-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(52, 145, 182), transparent);
}

.Pallas-background {
    background-image: url("./assets/colonies-planets/pallas.jpg");
    background-size: 160px;
    background-position: top 3px right -5px;
    box-shadow: inset 0 0 4px 4px rgb(128, 128, 133), 0 0 2px 1px black;
}

.Pallas-title {
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(120, 121, 129), transparent);
}

.Venus-background {
    background-image: url("./assets/colonies-planets/venus.jpg");
    background-position: top -2px right -10px;
    background-size: 180px 180px;
    box-shadow: inset 0 0 4px 4px rgb(250, 207, 89), 0 0 2px 1px black;
}

.Venus-title {
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(248, 197, 57), transparent);
}

.venus-colony-bonus {
    transform: scale(0.8);
    margin-left: -3px;
}

.Leavitt-background {
    background-image: url("./assets/colonies-planets/leavitt.jpg");
    background-position: top -3px right 8px;
    box-shadow: inset 0 0 4px 4px rgb(64, 72, 145), 0 0 2px 1px black;
}

.Leavitt-title {
    text-transform: uppercase;
    background: linear-gradient(to right,rgb(48, 38, 143), transparent);
}

.copy-trade-box {
    color: white;
    background-color: black;
    line-height: 23px;
}

.Ceres-background {
    background-image: url("./assets/colonies-planets/ceres.png");
    background-size: 100px 100px;
    background-position: bottom 150px right 60px;
    box-shadow: inset 0 0 4px 4px rgb(124, 157, 200), 0 0 2px 1px black;
}

.Ceres-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(124, 157, 200), black);
}

.Triton-background {
    background-image: url("./assets/colonies-planets/triton.jpg");
    background-size: 150px 150px;
    background-position: bottom 90px right 35px;
    box-shadow: inset 0 0 4px 4px #c2e0f6, 0 0 2px 1px black;
}

.Triton-title {
    text-transform: uppercase;
    background: linear-gradient(to right, #c2e0f6, black);
}

.Ganymede-background {
    background-image: url("./assets/colonies-planets/ganymede.jpg");
    background-position: bottom 5px right 10px;
    box-shadow: inset 0 0 4px 4px rgb(150, 150, 150), 0 0 2px 1px black;
}

.Ganymede-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(150, 150, 150), rgba(0, 0, 0, 0));
}

.Callisto-background {
    background-image: url("./assets/colonies-planets/callisto.png");
    background-size: 300px 300px;
    background-position: bottom -11px right -55px;
    box-shadow: inset 0 0 4px 4px rgb(158, 79, 150), 0 0 2px 1px black;
}

.Callisto-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(158, 79, 150), black);
}

.Europa-background {
    background-image: url("./assets/colonies-planets/europa.png");
    background-size: 220px 220px;
    background-position: bottom 65px right -5px;
    box-shadow: inset 0 0 4px 4px rgb(188, 149, 120), 0 0 2px 1px black;
}

.Europa-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(188, 149, 120), black);
}

.Titan-background {
    background-image: url("./assets/colonies-planets/titan.jpg");
    background-size: 250px 250px;
    background-position: bottom 30px right -8px;
    box-shadow: inset 0 0 4px 4px rgb(255, 204, 100), 0 0 2px 1px black;
}

.Titan-title {
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(255, 204, 100), black);
}

input[type="radio"]:checked + .colonies.filterDiv {
    box-shadow: inset 0 0 4px 4px #c97e23, 0 0 2px 1px black;
}

input[type="radio"]:checked + .colonies::after {
    top: 17px;
    left: 174px;
    width: 243px;
    background: linear-gradient(
        to right,
        rgba(226, 140, 34, 0.1),
        #e28c22,
        #c97e23
    );
    height: 47px;
    border-bottom: none;
}
