@import (inline) "../../node_modules/spectre.css/dist/spectre.min.css";
@import (inline) "../../node_modules/spectre.css/dist/spectre-exp.min.css";
@import (inline) "../../node_modules//spectre.css/dist/spectre-icons.min.css";
@import (inline) "../../node_modules/dialog-polyfill/dialog-polyfill.css";

html,
body {
    height: 100%;
    margin: 0px;
}

.capitalized {
    text-transform: capitalize;
}

.main-container {
    margin: 0 60px;
}

.hidden {
    display: none !important;
}

a:link {
    color: #ddd;
}

a:visited {
    color: #ccc;
}

a:hover {
    color: #fff;
}

a:active {
    color: #ddd;
}

@font-face {
    font-family: Prototype;
    src: url(./assets/Prototype.ttf);
}

body {
    background: #303030;
    color: #dddddd;
    font-family: Ubuntu, Sans;
    font-size: 23px;
}

h1 {
    color: #ddd;
    font-family: Ubuntu, Sans;
    filter: drop-shadow(4px 4px 4px black);
    text-shadow: -1px -1px 1px #aaaa, 1px 1px 1px #333a;
    padding: 1px 15px;
    border-radius: 8px;
}

h2 {
    color: #ddd;
    font-family: Ubuntu, Sans;
    filter: drop-shadow(4px 4px 4px black);
    text-shadow: -1px -1px 6px #aaa4;
}

input[type="radio"]:checked + label {
    border: 2px solid rgb(137, 137, 137);
    box-shadow: inset 0 0 0 3px rgb(68, 68, 68);
    filter: brightness(120%) drop-shadow(0 0 5px white);
    transform: translate(0, 2px);
}
.filterDiv {
    font-size: 17px !important;
}

.is-action {
    color: lightblue;
    cursor: pointer;
}

@import "./language_switcher.less";
@import "./cards.less";
@import "./language_hacks.less";
@import "./board.less";
@import "./board_items_positions.less";
@import "./globs.less";
@import "./game_end.less";
@import "./resources.less";
@import "./start_screen.less";
@import "./create_game_form.less";
@import "./corporations_filter.less";
@import "./colonies_filter.less";
@import "./cards_filter.less";
@import "./player_home.less";
@import "./players_overview.less";
@import "./preferences.less";
@import "./waiting_for.less";
@import "./payments.less";
@import "./other_player.less";
@import "./colonies.less";
@import "./log.less";
@import "./load_game_form.less";
@import "./turmoil.less";
