.topmost-create-game-form {
    .board-cube {
        position: absolute;
        margin: 4px 20px 0 0;
    }

    .create-game-colors-cont {
        margin-top: 9px;
        display: inline-block;
        margin-left: 70px;
    }

    .create-game-color-label {
        margin-top: 6px;
        position: absolute;
    }

    .create-game-color {
        padding: 0px 50px 0px 26px;
    }
}

.create-game-form {
    margin-bottom: 25px;
    max-width: 1002px;
}

.create-game-player {
    padding: 25px;
    margin-right: 25px;
    height: 164px;
    margin-bottom: 25px !important;
}

.create-game-solo-player {
    margin-bottom: 20px;
}

.create-game-options-block {
    padding-right: 25px;
}

.create-game--block {
    background: #202020; 
    padding: 25px;
}

.create-game-form {
    padding-top: 5px;
}

.create-game-action {
    margin: 0 auto;
    text-align: center;
}

.create-game-corporation {
    padding: 0 0 25px 25px;
}

.create-game-corporations-count {
    width: 80px;
    margin-right: 10px;
}

.create-game-player-name {
    color: #020202;
    max-width: 430px
}
.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888888;
    opacity: 1; /* Firefox */
}

.form-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #888888;
}

.form-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #888888;
}

.tooltip:hover {
    text-decoration: none;
}
