.game_end_success, .game_end_fail {
    max-width: 820px;
    margin: 30px auto;
}

.game_end_success h2, .game_end_fail h2 {
    text-align: center;
}

.game_end_solo_img {
    margin-bottom: 20px;
    text-align: center;
}

.game_end_notice {
    margin-bottom: 25px;
}

.game_end_go_home {
    font-size: 30px;
    text-align: center;
    margin: 40px 0;

    button {
        margin-right: 10px;
    }
}

.game_end_table {
    border: 2px solid #7b7b7b;
    width: auto;

    td, th {
        text-align: center !important;
        border-bottom: .05rem solid #7b7b7b !important;
        padding: 10px 20px;
        text-shadow: 2px 2px 4px #000000;
    }

    a {
        text-decoration: underline;
    }
}
.game-end-flexrow {
    display: flex;
    flex-flow: row wrap;

    .game-end-column {
        min-width: 400px;
        padding-right: 20px;
        padding-bottom: 40px;
    }
}

.game-end-winer-scorebreak-player-title {
    font-size: 32px
}

.game-end-total-column {
    padding: 5px 30px;
}

.game-end-winer-announcement {
    text-align: center;
    font-size: 40px;
}

.game-end-total {
  font-size: larger;
  border-right: 0.05rem solid #7b7b7b ;
}

.game-end-mc {
  font-size: smaller;
}

.game-end-timer {
  font-size: smaller;
}
