.game_end_success, .game_end_fail {
    max-width: 820px;
    margin: 30px auto;
}

.game_end_success h2, .game_end_fail h2 {
    text-align: center;
}

.game_end_solo_img {
    margin-bottom: 20px;
    text-align: center;
}

.game_end_notice {
    margin-bottom: 25px;
}

.game_end_go_home {
    font-size: 30px;
    text-align: center;
    margin: 40px 0;

    button {
        margin-right: 10px;
    }
}

.game_end_table {
    border: 2px solid #7b7b7b;

    td, th {
        text-align: center !important;
        border-bottom: .05rem solid #7b7b7b !important;
    }

    a {
        text-decoration: underline;
    }
}