.language-switcher {
    text-align: center;

    .language-icon {
        margin-left: 10px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.language-icon {
    width:44px;
    height:30px;
    border-radius: 50%;
    display:inline-block;
    background:url(assets/flags_responsive.png) no-repeat;
    background-size:100%;
    box-shadow: 0 2px 2px black;
}

.language-icon--en {
    background-position:0 92.561983%;
}

.language-icon--de {
    background-position:0 22.31405%;
}

.language-icon--fr {
    background-position:0 29.752066%;
}

.language-icon--ru {
    background-position:0 75.206612%;
}

.language-icon--cn {
    background-position:0 19.005%;
}

.language-icon--pl {
    background-position:0 70.66%;
}

.language-icon--es {
    background-position:0 26.86%;
}

.language-icon--br {
    background-position:0 12%;
}

.language-icon--it {
    background-position:0 42.975207%;
}

