.card-great-escarpment-consortium, .card-beam-from-a-thorium-asteroid {
    .title {
        font-size: 14px;
    }
}

.card-fish {
    .description-half {
        text-align: left;
        margin-top: -5px;
        width: 141px;
    }
}

.card-pets {
    .description-half {
        margin-top: 10px;
    }
}

.language-es {
    .filterDiv {
        .card-title {
            font-size: 15px !important;
        }

        .card-title {
            &.title-small {
                font-size: 14px !important;
            }
            &.title-smaller {
                font-size: 13px !important;
            }
        }
    }
}

.language-ru {
    .filterDiv {
        .card-title {
            font-size: 11px !important;
        }

        .card-title {
            &.title-smaller {
                font-size: 10px !important;
            }
        }

        &.card-mining-quota, &.card-luxury-foods, &.card-omnicourt, &.card-solarnet {
            .requirements {
                font-size: 12px;
            }
        }

        &.card-pristar {
            .corporationEffectBox {
                margin-top: 143px;
                height: 139px;
            }

            .pointsCorporation {
                margin-top: 243px;
                margin-left: 132px;
            }
        }

        &.card-herbivores {
            .description {
                font-size: 9px;
                line-height: 11px;
            }
        }

        &.card-fish {
            .description {
                font-size: 9px;
            }
        }

        &.card-pets {
            .description-half {
                margin-top: -10px;
            }
        }

        &.card-agricola-inc {
            .description {
                line-height: 11px;
            }
        }

        &.card-project-workshop {
            .description {
                font-size: 10px;
            }
            .corporationEffectBox .description {
                margin-top: -6px;
                line-height: 11px;
            }
        }

        &.card-playwrights {
            .start-text {
                margin-top: -6px;
            }
        }

        &.card-asteroid-rights {
            .description {
                line-height: 10px !important;
            }

            .effect2 .description {
                white-space: nowrap !important;
                padding-left: 30px;
            }
        }

        &.card-asteroid-mining-consortium {
            .card-requirements {
                font-size: 14px;
            }
        }
    }

    .player_home_colony_cont {
        .colony-card-title-span, .colony-background-color {
            font-family: "Ubuntu" !important;
        }
    }
}

.language-fr {
    /***
    Cards titles font size
    ***/

    .card-artificial-photosynthesis .title,
    .card-acquired-space-agency .title,
    .card-building-industries .title,
    .card-callisto-penal-mines .title,
    .card-designed-micro-organisms .title,
    .card-equatorial-magnetizer .title,
    .card-electro-catapult .title,
    .card-import-of-advanced-ghg .title,
    .card-magnetic-field-dome .title,
    .card-ore-processor .title,
    .card-power-infrastructure .title,
    .card-power-supply-consortium .title,
    .card-rad-suits .title,
    .card-terraforming-ganymede .title,
    .card-tundra-farming .title,
    .card-water-import-from-europa .title {
        font-size: 14px;
    }
    .card-ghg-producing-bacteria .title,
    .card-ice-cap-melting .title,
    .card-research-coordination .title,
    .card-technology-demonstration .title {
        font-size: 13px;
    }
    .card-great-escarpment-consortium .title,
    .card-indentured-workers .title,
    .card-magnetic-field-generators .title {
        font-size: 11px;
    }


    /***
    Cards specific modifications
    ***/
    
    /* Ecosystèmes Avancés */
    .card-advanced-ecosystems .requirements {
        width: 100%;
        margin-left: 0;
        background-size: 249px 38px;
        background-position: -20px -4px;
    }
    
    /* Oiseaux */
    .card-birds .production-box + .description {
        margin-top: 0 !important;
        width: 130px;
    }
    
    /* Quartier Commercial */
    .card-commercial-district .special-tile + .description {
        width: 95px !important;
        margin-left: 25px;
    }
    
    /* Agents de Décomposition */
    .card-decomposers .description + .description {
        margin-top: 10px;
    }

    /* Cratère Couvert */
    .card-domed-crater .card-content-plants {
        display: inline-block;
        right: 0;
        position: absolute;
        margin-top: 88px;
        margin-right: 8px;
    }
    .card-domed-crater .description > div:first-child {
        width: 100px;
        margin-top: 5px;
    }
    .card-domed-crater .description > div + div {
        margin-top: 10px;
    }
    
    /* Zone Ecologique */
    .card-ecological-zone .special-tile + .description {
        margin-top: -55px !important;
    }

    /* Catapulte Électromagnétique */
    .card-electro-catapult .points {
        width: 55px;
        margin-left: 163px;
    }
    .card-electro-catapult .production-box + .description {
        width: 155px;
    }

    /* Réserve du Chasma d'Eos */
    .card-eos-chasma-national-park .description {
        text-align: left;
        margin-top: -5px;
        width: 141px;
    }

    /* Herbivores */
    .card-herbivores .description + .animal.resource {
        margin-top: 10px;
    }
    .card-herbivores .production-box {
        margin-top: 10px !important;
    }
    .card-herbivores .production-box + .description {
        margin-top: -58px !important;
        line-height: 12px;
        width: 102px !important;
    }

    /* Bétail */
    .card-livestock .description:last-child {
        margin-top: -95px !important;
    }

    /* Ville Ouverte */
    .card-open-city .city-tile {
        margin-left: 8px !important;
    }
    .card-open-city .city-tile + br {
        display: none;
    }
    .card-open-city .plant.resource {
        margin-bottom: 5px;
    }
    .card-open-city .description div + div {
        width: 130px !important;
        margin-top: 5px;
    }

    /* Animaux Domestiques */
    .card-pets .description-half {
        margin-top: 0 !important;
        width: 130px !important;
    }
    
    /* Main d'Oeuvre Robotique */
    .card-robotic-workforce .production-box {
        margin-left: 7px;
    }

    /* Navettes */
    .card-shuttles .content .points {
        width: 65px;
        margin-left: 153px;
    }
    
    /* UNMI */
    .card-united-nations-mars-initiative .contentCorporation > .description {
        margin-left: 15px !important;
    }
    .card-united-nations-mars-initiative .contentCorporation > .description .resource {
        margin-right: 10px;
    }
    
    /***
    Corporations specific modifications
    ***/
    
    /* Cheung Shing Mars */
    .card-cheung-shing-mars .production-box {
        margin-top: 0 !important;
    }
    
    /* Ecoline */
    .card-ecoline .production-box {
        margin-top: 0 !important;
    }
    
    /* Cinématiques Interplanétaires */
    .card-interplanetary-cinematics .corporationEffectBox + .INTERPLANETARY.CINEMATICS {
        font-size: 15px !important;
        letter-spacing: 3.5px;
    }
    .card-interplanetary-cinematics div + div + div + .INTERPLANETARY.CINEMATICS {
        font-size: 15px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        transform: none !important;
        letter-spacing: 0.3px !important;
    }
    
    /* République de Tharsis */
    .card-tharsis-republic .corporationEffectBox + div {
        font-size: 22px !important;
    }
    .card-tharsis-republic .corporationEffectBox + div > div {
        margin-right: 5px !important;
    }
    .card-tharsis-republic .corporationEffectBox > .description {
       margin-top: -4px !important;
    }
    
    /* Valley Trust */
    .card-valley-trust .corporationEffectBox {
        height: 110px;
        margin-top: 180px;
    }
}

.language-pl {
    .card-tharsis-republic .card-content-corporation > .card-description {
        margin-top: -5px !important;
    }
}


.language-br {
    .milestones .ma-block .ma-name--polar-explorer {
        font-size: 14px !important;
    }
    .awards .ma-block .ma-name--estate-dealer {
        font-size: 12px !important;
    }
}