.card-great-escarpment-consortium, .card-beam-from-a-thorium-asteroid {
    .title {
        font-size: 14px;
    }
}

.card-fish {
    .description-half {
        text-align: left;
        margin-top: -5px;
        width: 141px;
    }
}

.card-pets {
    .description-half {
        margin-top: 10px;
    }
}

.language-ru {
    .filterDiv {
        .title {
            font-size: 11px;
        }

        &.card-mining-quota, &.card-luxury-foods, &.card-omnicourt, &.card-solarnet {
            .requirements {
                font-size: 12px;
            }
        }

        &.card-pristar {
            .corporationEffectBox {
                margin-top: 143px;
                height: 139px;
            }

            .pointsCorporation {
                margin-top: 243px;
                margin-left: 132px;
            }
        }

        &.card-herbivores {
            .description {
                font-size: 9px;
                line-height: 11px;
            }
        }

        &.card-fish {
            .description {
                font-size: 9px;
            }
        }

        &.card-pets {
            .description-half {
                margin-top: -10px;
            }
        }
    }

    .player_home_colony_cont {
        .colony-card-title-span, .colony-background-color {
            font-family: "Ubuntu" !important;
        }
    }
}