.log-panel {
    max-height: 180px;
    border-style:none;
    font-size: 18px;
    padding: 5px;
    max-width: 767px;
    background: #222;

    li {
        margin-top: 0 !important;
        list-style-type: none;

        span {
            margin-right: 5px;
            font-size: 15px;
        }

    }

    ul {
        margin: 0 !important;
    }
}

log-player {
    text-shadow:1px 1px 1px #222, -1px -1px 1px #666;
    padding: 1px 5px;
    border-radius: 4px;
    font-weight: bold;
    background-color: #333; 
}

log-card {
    color: #000;
    padding: 1px 5px;
    border-radius: 4px;
    font-family: Prototype;
}

log-generation {
    font-weight: bold;
}
