@import "./variables.less";

// A light-on-dark beveled border (top/left highlight, bottom/right shadow).
.raised-bevel(@width: 2px) {
    border-top: @width solid rgb(221, 221, 221);
    border-left: @width solid rgb(221, 221, 221);
    border-bottom: @width solid rgb(137, 137, 137);
    border-right: @width solid rgb(137, 137, 137);
}
