.moon-board {
	width: 570px;
	height: 335px;
	margin: 85px 0 0 0;
	background: url(assets/moon/board.png) no-repeat;
}

.global-numbers-colony {
	position: absolute;
	margin: 60px 0px 0px 31px;
}
.global-numbers-logistics {
  position: absolute;
	margin: 60px 0px 0px 440px;
}
.global-numbers-mining {
  position: absolute;
  margin: 60px 0px 0px 513px;
}

.board-space-tile--colony {
	background: url(assets/moon/colonytile.png) no-repeat;
}

.board-space-tile--road {
	background: url(assets/moon/roadtile.png) no-repeat;
}

.board-space-tile--mine {
	background: url(assets/moon/minetile.png) no-repeat;
}

.board-space-tile--luna-trade-station {
	background-image: url(./assets/moon/luna-trade-station.png);
}

.board-space-tile--luna-mining-hub {
	background-image: url(./assets/moon/luna-mining-hub.png);
}

.board-space-tile--luna-train-station {
	background-image: url(./assets/moon/luna-train-station.png);
}

.board-space-tile--lunar-mine-urbanization {
	background-image: url(./assets/moon/lunar-mine-urbanization.png);
}

.moon-space-m01 { margin: 15px 0 0 64px; }
// Row 1
.moon-space-m02 { margin: -57px 0 0 53px; }
.moon-space-m03 { margin: -57px 0 0 102px; }
.moon-space-m04 { margin: -57px 0 0 151px; }
.moon-space-m05 { margin: -57px 0 0 200px; }
// Row 2
.moon-space-m06 { margin: -18px 0 0 29px; }
.moon-space-m07 { margin: -18px 0 0 78px; }
.moon-space-m08 { margin: -18px 0 0 127px; }
.moon-space-m09 { margin: -18px 0 0 176px; }
.moon-space-m10 { margin: -18px 0 0 225px; }
// Row 3
.moon-space-m11 { margin: 21px 0 0 4px; }
.moon-space-m12 { margin: 21px 0 0 53px; }
.moon-space-m13 { margin: 21px 0 0 102px; }
.moon-space-m14 { margin: 21px 0 0 151px; }
.moon-space-m15 { margin: 21px 0 0 200px; }
.moon-space-m16 { margin: 21px 0 0 250px; }
// Row 4
.moon-space-m17 { margin: 60px 0 0 29px; }
.moon-space-m18 { margin: 60px 0 0 78px; }
.moon-space-m19 { margin: 60px 0 0 127px; }
.moon-space-m20 { margin: 60px 0 0 176px; }
.moon-space-m21 { margin: 60px 0 0 225px; }
// Row 5
.moon-space-m22 { margin: 99px 0 0 4px; }
.moon-space-m23 { margin: 99px 0 0 53px; }
.moon-space-m24 { margin: 99px 0 0 102px; }
.moon-space-m25 { margin: 99px 0 0 151px; }
.moon-space-m26 { margin: 99px 0 0 200px; }
.moon-space-m27 { margin: 99px 0 0 250px; }
// Row 6
.moon-space-m28 { margin: 138px 0 0 29px; }
.moon-space-m29 { margin: 138px 0 0 78px; }
.moon-space-m30 { margin: 138px 0 0 127px; }
.moon-space-m31 { margin: 138px 0 0 176px; }
.moon-space-m32 { margin: 138px 0 0 225px; }
// Row 7
.moon-space-m33 { margin: 177px 0 0 53px; }
.moon-space-m34 { margin: 177px 0 0 102px; }
.moon-space-m35 { margin: 177px 0 0 151px; }
.moon-space-m36 { margin: 177px 0 0 200px; }

.moon-space-m37 { margin: 13px 0 0 370px; }

.moon-space-type-mine {
	background: url(assets/moon/hex_brown.png);
	background-color: #8303;
}

.moon-space-type-other {
	background: url(assets/moon/hex_yellow.png);
}

.card-tile-lunar-mine {
	background-image: url(./assets/moon/minetile.png);
	filter: none;
	width: 44px;
	height: 51px;
}

.card-tile-lunar-mine-rate {
	background-image: url(./assets/moon/play-minetile.png);
	filter: none;
	width: 52px;
	height: 51px;
}

.card-tile-lunar-mine--S {
	background-image: url(./assets/moon/minetile.png);
	filter: none;
	width: 30px;
	height: 32px;
	background-size: 30px 32px;
}

.card-tile-lunar-colony {
	background-image: url(./assets/moon/colonytile.png);
	filter: none;
	width: 44px;
	height: 51px;
}

.card-tile-lunar-colony-rate {
	background-image: url(./assets/moon/play-colonytile.png);
	filter: none;
	width: 52px;
	height: 51px;
}

.card-tile-lunar-colony--S {
	background-image: url(./assets/moon/colonytile.png);
	width: 30px;
	height: 32px;
	background-size: 30px 32px;
}

.card-tile-lunar-road {
	background-image: url(./assets/moon/roadtile.png);
	filter: none;
	width: 44px;
	height: 51px;
}

.card-tile-lunar-road-rate {
	background-image: url(./assets/moon/play-roadtile.png);
	filter: none;
	width: 52px;
	height: 51px;
}

.card-tile-lunar-road--S {
	background-image: url(./assets/moon/roadtile.png);
	filter: none;
	width: 30px;
	height: 32px;
	background-size: 30px 32px;
}

.card-tile-luna-trade-station {
	background-image: url(./assets/moon/luna-trade-station.png);
	width: 44px;
	height: 51px;
}

.card-tile-luna-mining-hub {
	background-image: url(./assets/moon/luna-mining-hub.png);
	width: 44px;
	height: 51px;
}

.card-tile-luna-train-station {
	background-image: url(./assets/moon/luna-train-station.png);
	width: 44px;
	height: 51px;
}

.card-tile-moon {
  background-size: 40px 47px !important;
	width: 43px;
	height: 47px;
}

.card-tile-symbol-luna-trade-station {
	background-image: url(./assets/moon/luna-trade-station-special.png);
	.card-tile-moon;
}

.card-tile-symbol-luna-mining-hub {
	background-image: url(./assets/moon/luna-mining-hub-special.png);
	.card-tile-moon;
}

.card-tile-symbol-luna-train-station {
	background-image: url(./assets/moon/luna-train-station-special.png);
	.card-tile-moon;
}

.card-tile-symbol-lunar-mine-urbanization {
	background-image: url(./assets/moon/lunar-mine-urbanization-special.png);
	.card-tile-moon;
}

.card-play-moon-colony {
	background-image: url(./assets/moon/play-colonytile.png);
	width: 52px;
	height: 51px;
}

.card-play-moon-colony--S {
	background-image: url(./assets/moon/play-colonytile.png);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

.card-play-moon-mine {
	background-image: url(./assets/moon/play-minetile.png);
	width: 52px;
	height: 51px;
}

.card-play-moon-mine--S {
	background-image: url(./assets/moon/play-minetile.png);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

.card-play-moon-road {
	background-image: url(./assets/moon/play-roadtile.png);
	width: 52px;
	height: 51px;
}

.card-play-moon-road--S {
	background-image: url(./assets/moon/play-roadtile.png);
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

.card-colony-rate {
	background-image: url(./assets/moon/card-colony-rate.png);
	width: 46px;
	height: 46px;
}

.card-mining-rate {
	background-image: url(./assets/moon/card-mining-rate.png);
	width: 46px;
	height: 46px;
}

.card-logistics-rate {
	background-image: url(./assets/moon/card-logistics-rate.png);
	width: 46px;
	height: 46px;
}

.card-colony-rate--S,
.card-mining-rate--S,
.card-logistics-rate--S {
	width: 30px;
	height: 30px;
	background-size: 30px;
}

.card-colony-rate--req,
.card-mining-rate--req,
.card-logistics-rate--req {
	width: 30px;
	height: 30px;
	background-size: 30px;
	margin-left: 2px;
}

.card-tag-moon-on-card {
	background-image: url(./assets/tags/moon.png);
	background-size: 100%;
	width: 30px;
	height: 30px;
}

.ma-name--lunar-magnate {
	background-image: url(./assets/ma/lunar-magnate.png);
}

.ma-name--lunarchitect {
	background-image: url(./assets/ma/lunarchitect.png);
}

.ma-name--full-moon {
	background-image: url(./assets/ma/full-moon.png);
}

.ma-name--one-giant-step {
	background-image: url(./assets/ma/one-giant-step.png);
}
