.other_player_cont {
    display: inline-block;
    padding: 10px;
    background: #333;
    max-height: 1200px;
    max-width: 1170px;
    margin-right: 20px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 6px 6px 4px #111;
    margin-top: 8px;
    .other_player_close {
        float: right;
    }
}
