.other_player_cont {
    display: inline-block;
    width: 100%;
    padding: 10px 0 0 25px;
    background: #222;
    max-height: 1200px;
    margin-right: 20px;
    overflow-y: auto;
    border-radius: 0px 0px 8px 8px;
    .other_player_close {
        float: right;
    }
}

.other_player_header {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: -4px;
}
