.payments_cont {
    margin-bottom: 20px;
}

.payments_cont section {
    max-width: 600px;
}

.payments_cont .nes-container.with-title > .payments_title {
    display: table;
    padding: 0 .5rem;
    margin: -2.3rem 0 1rem;
    font-size: 1rem;
    background-color: #bdbdbd;
}

.payments_type {
    // margin-bottom: 15px;
    border-spacing: 0 8px;

}

.payments_type_icon {
    margin: 0px 10px 0 0;
    cursor: pointer;
}

.payments_input {
    max-width: 70px;
    font-size: 24px;
    font-weight: bold;
    color:#4f4f4f;
    text-align: center;
}

.payments_save {
    text-align: center;
}

.payments_title {
    font-size: 20px;
    color: #666;
}

.payments_unit_subtotal {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

.payments_type_smallicon {
    margin-top:   5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.payments_total_heading {
  text-align: right;
}

.payments_total_under {
  color: #ff0000;
}

.payments_total_over {
  color: #00ff00;
}

.payments_total_exact {
  color: white;
}
