#player-home {
    padding-left: 20px;
    border-left: 1px solid #dfdddd;
}

.player_home_block {
    margin-bottom: 20px;
}
  
.player_home_block--resources {
    position: sticky;
    top: -13px;
    z-index: 20;
 }

 .player_home_anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

