.icon-first-player {
    text-shadow: 0 0 5px darkorange;
    color: #000;
    width: 35px;
    height: 35px;
    line-height: 31px;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    background-image: url(assets/mars.png);
    background-size: 120px 120px;
    background-position: 88px 92px;
    border-top: 2px solid #bb8760;
    border-left: 2px solid #bb8760;
    border-bottom: 2px solid #744631;
    border-right: 2px solid #744631;
}

.players-overview {
    position: relative;
    display: table-caption;
    .player-divider {
        height: 1px;
        width: 100%;
        border: 1px dashed #444;
    }

    .player-info {
        display: inline-flex;
        flex-flow: row;
        padding: 8px;
        margin-top: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        .player-tags {
            display: flex;
            flex-flow: row;
            margin-left: 16px;
        }
        .player-status {
            width: 130px;
            .top-row {
                display: flex;
                flex-flow: row;
                position: relative;
                .player-view-status {
                    display: none;
                }
                .player-name {
                    color: #ccc;
                    text-shadow: 1px 1px 1px #222, -1px -1px 1px #666;
                    border-radius: 4px;
                    font-size: 20px;
                    width: 90px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .icon-first-player-offset {
                    position: absolute;
                    right: -2px;
                }
            }
            .player-corp {
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 130px;
                white-space: pre;
            }
            .player-action-status {
                border-radius: 4px;
                font-size: 16px;
                display: inline-block;
                width: 100%;
                text-align: center;
                font-family: Prototype;
            }
            .player-action-status--active {
                background: #ccc;
                border: 1px solid #ccc;
                color: #000;
            }
            .player-action-status--passed {
                background: #000;
                border: 1px solid #000;
                color: #ccc;
                opacity: 0.3;
            }
        }
    }
    .players-overview-settings {
        display: none;
        border: 1px solid green;
        position: absolute;
        height: 40px;
        top: -40px;
        right: 0;
    }
}
