@player_red: rgb(153, 17, 0);
@player_yellow: rgb(170, 170, 0);
@player_green: rgb(0, 153, 0);
@player_black: rgb(170, 170, 170);
@player_blue: rgb(0, 102, 255);
@player_purple: rgb(140, 0, 255);

@player_red_bg: rgba(153, 17, 0, 0.7);
@player_yellow_bg: rgba(170, 170, 0, 0.7);
@player_green_bg: rgba(0, 153, 0, 0.7);
@player_black_bg: rgba(170, 170, 170, 0.7);
@player_blue_bg: rgba(0, 102, 255, 0.7);
@player_purple_bg: rgba(140, 0, 255, 0.7);

#player-home {
    padding-left: 20px;
    padding-top: 20px;
    background: linear-gradient(transparent, #000), url(assets/stars.jpg);
    background-attachment: fixed;
}

.player_color_red {
    text-shadow: -1px -1px 6px @player_red, 1px 1px 1px #333a;
}
.player_color_yellow {
    text-shadow: -1px -1px 6px @player_yellow, 1px 1px 1px #333a;
}
.player_color_green {
    text-shadow: -1px -1px 6px @player_green, 1px 1px 1px #333a;
}

.player_color_black {
    text-shadow: -1px -1px 6px @player_black, 1px 1px 1px #333a;
}
.player_color_blue {
    text-shadow: -1px -1px 6px @player_blue, 1px 1px 1px #333a;
}
.player_color_purple {
    text-shadow: -1px -1px 6px @player_purple, 1px 1px 1px #333a;
}

.player_bg_color_red {
    background-color: @player_red;
}

.player_bg_color_yellow {
    background-color: @player_yellow;
}

.player_bg_color_green {
    background-color: @player_green;
}

.player_bg_color_black {
    background-color: @player_black;
}

.player_bg_color_blue {
    background-color: @player_blue;
}

.player_bg_color_purple {
    background-color: @player_purple;
}

.player_overview_bg_color_red {
    background-color: @player_red_bg;
}

.player_overview_bg_color_yellow {
    background-color: @player_yellow_bg;
}

.player_overview_bg_color_green {
    background-color: @player_green_bg;
}

.player_overview_bg_color_black {
    background-color: @player_black_bg;
}

.player_overview_bg_color_blue {
    background-color: @player_blue_bg;
}

.player_overview_bg_color_purple {
    background-color: @player_purple_bg;
}

.game-title {
    text-transform: uppercase;
}

.tag-overview-cont {
    .accordion-body {
        overflow-x: auto;
    }
}

.tags-grid {
    display: grid;
    grid-template-columns: max-content repeat(20, 50px);

    grid-row-gap: 10px;
    margin-top: 10px;

    &.hide-colony-count {
        grid-template-columns: max-content repeat(19, 50px);
    }

    &.hide-influence-count {
        grid-template-columns: max-content repeat(19, 50px);
    }

    &.hide-colony-influence-counts {
        grid-template-columns: max-content repeat(18, 50px);
    }

    .hide_tag {
        visibility: hidden;
    }

    .grid_end {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .highlighter_box {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .grid-item {
        text-align: center;
    }

    .grid-item.player_tag_bg_color_black {
        background-color: rgba(17, 17, 17, 0.2);
    }

    .grid-item.player_tag_bg_color_blue {
        background-color: rgba(0, 102, 255, 0.2);
    }

    .grid-item.player_tag_bg_color_green {
        background-color: rgba(0, 153, 0, 0.2);
    }

    .grid-item.player_tag_bg_color_purple {
        background-color: rgba(140, 0, 255, 0.2);
    }

    .grid-item.player_tag_bg_color_red {
        background-color: rgba(153, 17, 0, 0.2);
    }

    .grid-item.player_tag_bg_color_yellow {
        background-color: rgba(170, 170, 0, 0.2);
    }

    .city-count {
        background: url(assets/icon_city.png) center no-repeat;
        filter: invert(100%) contrast(200%);
    }

    .colony-count {
        background: url(assets/icon_colony.png) center no-repeat;
        background-size: 24px;
    }

    .influence-count {
        background: url(assets/icon_influence.png) center no-repeat;
        filter: invert(100%) contrast(200%);
        background-size: 28px;
    }

    .card-count {
        background: url(assets/preferences_cards.png) center no-repeat;
    }

    .rt-count {
        background: url(assets/icon_rt.png) center no-repeat;
        background-size: 22px;
    }

    .vp-count {
        background-image: url(assets/mars.png);
        background-size: 65px;
        background-position: center;

        line-height: 1.7;
        text-align: center;

        color: black;
        font-weight: bold;
        text-shadow: 0 0 5px darkorange;
    }

    .player_name_cont {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.tag-count {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 42px 42px;
    background-position: -1px -1px;
    text-align: center;
    border-radius: 50%;
    border-top: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(137, 137, 137);
    border-right: 1px solid rgb(137, 137, 137);
    background-color: white;
    margin-top: -6px;
    margin-left: 3px;
    box-sizing: content-box;
    z-index: 2;
}

.tag-type-main {
    border-radius: 4px;
    border: none;
    width: 34px;
    height: 34px;
    background-size: 34px;
}

.tag-type-secondary {
    width: 32px;
    height: 32px;
    background-size: 32px;
}

.tag-size-big {
    margin-top: 0px;
    margin-left: 0px;
    background-position: 0px 0px;
}

.tag-display {
    display: flex;
    flex-flow: column;
    margin-right: 8px;
}
.tag-no-show {
    opacity: 0.3;
}
.tag-count-no-show {
    visibility: hidden;
}
.tag-display-tags {
    float: left;
}

.tag-display-vp {
    margin-left: 20px;
}

.tag-count-display {
    color: #e8e8e8;
    text-align: center;
    font-size: 26px;
    font-family: Prototype;
    line-height: 1;
    text-shadow: 0 1px 1px black;
    margin-top: 11px;
}

.icon-vp {
    text-shadow: 0 0 5px darkorange;
    color: #000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    background-image: url(assets/mars.png);
    background-size: 120px 120px;
    background-position: 88px 92px;
    border-top: 5px solid #bb8760;
    border-left: 5px solid #bb8760;
    border-bottom: 5px solid #744631;
    border-right: 5px solid #744631;
}

.player_home_block--resources {
    position: sticky;
    top: -13px;
    z-index: 20;
}

.player_home_anchor {
    position: relative;
    top: -100px;
    visibility: hidden;
}

.highlighter_box {
    text-shadow: 1px 1px 1px #222, -1px -1px 1px #666;
    padding: 1px 10px;
    border-radius: 4px;
}

.help_tip {
    color: #aaa;
    font-size: smaller;
    text-shadow: none;
    font-family: Ubuntu, Sans;
}

.player_home_block {
    margin-bottom: 20px;

    .accordion-header {
        display: inline-block;
    }

    .player_item {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        margin-right: 15px;
    }

    .player_name {
        color: #ccc;
        text-shadow: 1px 1px 1px #222, -1px -1px 2px #666;
        padding: 1px 5px;
        border-radius: 4px;
        font-weight: bold;
    }

    .tags_cont {
        display: inline-block;
        vertical-align: top;

        .player_name_cont {
            text-align: left;
        }
    }

    .player_name_cont {
        text-align: center;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;

        .player_number {
            margin-right: 5px;
            text-shadow: 1px 1px 1px #222, -1px -1px 1px #666;
        }

        .corporation-name-cont {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .corporation-name {
                font-size: 16px;
            }
        }
    }
    .pin_icon {
        width: 40px;
        height: 40px;
    }
    .player_pin {
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        width: 40px;
        height: 40px;
    }
    .player_pin_not_selected {
        background: url("assets/not_pinned.png");
    }
    .player_pin_selected {
        background: url("assets/pinned.png");
    }
    .other_player {
        display: flex;
        flex-wrap: wrap;
    }

    .player_separator {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        margin: 5px 0 0 10px;
        color: #7e7c7c;
    }

    .player_is_active {
        box-shadow: -1px -1px 5px #f80, 1px 1px 5px #f80;
        scale: 1.2;
        border: 2px solid #fff;
    }
}
.awards-padding {
    padding: 3px 42px 3px 42px !important;
}

.milestones,
.awards,
.tag-overview {
    .ma-clickable {
        font-family: Ubuntu, Sans;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: bold;
        color: #303030;
        text-transform: uppercase;
        background: lightblue;
        padding: 3px 26px 3px 26px;
        border-radius: 20px 20px 0 0;
        text-decoration: none;
        cursor: pointer;
        min-width: 180px;
        display: inline-block;
        text-align: center;
    }

    .ma-block {
        display: inline-block;
        vertical-align: top;
        width: 156px;
        cursor: pointer;

        .ma-score {
            display: inline-block;
            color: white;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            margin: 6px 2px 0 2px;
            display: inline-block;
            color: white;
            font-weight: normal;
        }

        .ma-scores {
            display: inline-block;
            width: 156px;
        }

        .ma-player {
            margin: 25px 0 0 70px;
            position: absolute;
        }

        .ma-name {
            display: inline-block;
            width: 156px;
            height: 99px;

            color: #000000b0;
            padding-top: 62px;
            font-size: 13px;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .ma-name--awards {
            background: url(assets/awards_bg.png) 0px -52px;
        }

        .ma-name--milestones {
            background: url(assets/milestones_bg.png) 0px -52px;
        }

        .ma-name--terraformer {
            background-position: 0px -52px;
        }

        .ma-name--mayor {
            background-position: 0px -152px;
        }

        .ma-name--gardener {
            background-position: 0px -252px;
        }

        .ma-name--builder {
            background-position: 0px -352px;
        }

        .ma-name--planner {
            background-position: 0px -452px;
        }

        .ma-name--generalist {
            background-position: 0px -552px;
        }

        .ma-name--specialist {
            background-position: 0px -652px;
        }

        .ma-name--ecologist {
            background-position: 0px -752px;
        }

        .ma-name--tycoon {
            background-position: 0px -852px;
        }

        .ma-name--legend {
            background-position: 0px -952px;
        }

        .ma-name--diversifier {
            background-position: 0px -1052px;
        }

        .ma-name--tactician {
            background-position: 0px -1152px;
        }

        .ma-name--polar-explorer {
            background-position: 0px -1252px;
        }

        .ma-name--energizer {
            background-position: 0px -1352px;
        }

        .ma-name--rim-settler {
            background-position: 0px -1452px;
        }

        .ma-name--hoverlord {
            background-position: 0px -1552px;
        }

        .ma-name--landlord {
            background-position: 0px -52px;
        }

        .ma-name--banker {
            background-position: 0px -252px;
        }

        .ma-name--scientist {
            background-position: 0px -152px;
        }

        .ma-name--thermalist {
            background-position: 0px -352px;
        }

        .ma-name--miner {
            background-position: 0px -452px;
        }

        .ma-name--celebrity {
            background-position: 0px -552px;
        }

        .ma-name--industrialist {
            background-position: 0px -652px;
        }

        .ma-name--desert-settler {
            background-position: 0px -752px;
        }

        .ma-name--estate-dealer {
            background-position: 0px -852px;
        }

        .ma-name--benefactor {
            background-position: 0px -952px;
        }

        .ma-name--cultivator {
            background-position: 0px -1052px;
        }

        .ma-name--magnate {
            background-position: 0px -1152px;
        }

        .ma-name--space-baron {
            background-position: 0px -1252px;
        }

        .ma-name--excentric {
            background-position: 0px -1352px;
        }

        .ma-name--contractor {
            background-position: 0px -1452px;
        }

        .ma-name--venuphile {
            background-position: 0px -1552px;
        }

        .ma-description {
            display: inline-block;
            width: 156px;
            height: 70px;
            color: #ddd;
            padding: 5px 2px 0px 2px;
            font-size: 14px;
            line-height: 15px;
            text-align: center;
        }

        .ma-description-hidden {
            display: none;
        }
    }

    .pwned-item {
        .ma-name,
        .ma-description {
            filter: grayscale(100%);
            opacity: 0.5;
        }
    }
}

.with-turmoil {
    .ma-name--terraformer {
        background-position: 0px -1752px !important;
    }
}

.ma-player-cube .board-cube {
    margin: 0 0 0 5px;
}

.milestones .ma-block {
    margin-bottom: 5px;
}

.funded-award-inline,
.claimed-milestone-inline {
    white-space: nowrap;
    color: #000;
    text-transform: uppercase;
    background: #c2c2c2;
    padding: 1px 33px 1px 10px;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    margin: 0 0 0 10px;
    border-radius: 20px;
    display: inline-block;
}

.active-award-or-milestone {
    color: #000;
    text-transform: uppercase;
    background: #c2c2c2;
    padding: 3px 30px 2px 7px;
    font-size: 15px;
    font-weight: bold;
}

.player_home_block--setup {
    .wf-action {
        margin: 20px 0 40px;
        text-align: center;

        .btn-primary {
            font-size: 25px;
            height: 50px;
            width: 150px;
        }
    }

    .accordion-body {
        padding-left: 40px;
    }
}

.player_home_colony_cont {
    margin: 0 auto;
    width: 95%;

    .player_home_colony {
        display: inline-block;
        vertical-align: top;
        margin: 0 25px 25px;
    }
}

.colonies-fleets-cont {
    position: absolute;
    margin: -62px 0 0 160px;
}

.colonies-player-fleets {
    height: 70px;
    display: inline-block;
    vertical-align: top;
}

.colonies-fleet {
    background: url(assets/colony_ships.png) no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;

    &.colonies-fleet-black {
        background-position: 0 0;
    }

    &.colonies-fleet-yellow {
        background-position: -70px 0;
    }

    &.colonies-fleet-green {
        background-position: -140px 0;
    }

    &.colonies-fleet-red {
        background-position: -207px 0;
    }

    &.colonies-fleet-blue {
        background-position: -272px 0;
    }
    &.colonies-fleet-purple {
        background-position: -342px 0;
    }
}

.deck-size {
    position: absolute;
    width: 33px;
    margin: 30px 0 0 0;
    font-family: Prototype;
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.label-additional {
    font-family: "Ubuntu";
    background: #222;
    padding: 2px 8px;
    border-radius: 8px;
    text-transform: uppercase;
    text-shadow: none;
    margin-left: 12px;
}
