.icon-first-player {
    color: white;
    text-align: center;
    font-size: 20px;
    background: black;
    font-family: Prototype;
    padding: 1px 4px;
    border-radius: 8px;
    margin-right: 4px;
}

.players-overview {
    position: relative;
    display: table-caption;
    margin-top: 40px;
    .player-divider {
        height: 1px;
        width: 100%;
        border: 1px dashed #444;
    }
    .players-overview-settings {
        display: flex;
        flex-flow: row;
        position: absolute;
        top: -26px;
        left: 0;
        font-size: 16px;
        align-items: center;
        .setting-label {
            text-transform: uppercase;
            margin-right: 8px;
        }
        .setting-button {
            padding: 2px 8px;
            text-transform: uppercase;
            border-radius: 4px;
            color: black;
            background: #ccc;
            cursor: pointer;
        }
    }
}

.player-info {
    flex-flow: column;
    padding: 8px;
    margin-top: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    .player-info-top {
        display: flex;
        flex-flow: row;
        align-items: center;
        .name-and-icon {
            display: flex;
            align-items: center;
            min-width: 155px;
            justify-content: space-between;
            border-radius: 8px 0px 0px;
            .player-info-name {
                cursor: pointer;
                color: #ccc;
                text-shadow: 1px 1px 1px #222, -1px -1px 1px #666;
                border-radius: 4px;
                font-size: 20px;
                padding: 4px 12px;
                font-family: 'Prototype';
            }
            .player-name--inactive {
                cursor: default !important;
            }
        } 
        .player-corp { 
            font-size: 18px;
            padding: 0px 18px;
            margin-left: 6px;
            margin-bottom: 6px;
            line-height: 32px;
            border-radius: 0px 8px 0px 0px;
            height: 32px;
            color:#ccc;
            font-family: 'Prototype';
        }
    }
    .player-info-bottom {
        border-radius: 0px 0px 8px 8px;
        padding: 8px;
        display: flex;
        padding-right: 0px;
        .player-tags {
            display: flex;
            flex-flow: row;
            .player-tag-discount {
                position: relative;
                .megacredits-container {
                    position: absolute;
                    left: 12px;
                    top: -17px;
                    z-index: 10;
                    border-radius: 8px 8px 0px 1px;
                    padding: 8px 8px 0px 8px;
                    .megacredits {
                        background-image: url(assets/resources/megacredit.png);
                        background-size: 20px 20px;
                        width: 20px;
                        height: 20px;
                        color: black;
                        font-size: 15px;
                        font-style: normal;
                        font-family: Prototype;
                        line-height: 21px;
                        text-align: center;
                    }
                }
            }
            .player-jovian-multiplier {
                position: absolute;
                background: url(/assets/board/mars.png);
                width: 21px;
                height: 21px;
                border-radius: 50%;
                box-shadow: 0 1px 1px 1px black;
                font-family: Prototype;
                text-align: center;
                line-height: 23px;
                color: black;
                background-size: 100px;
                background-position: -26px -20px;
                font-size: 18px;
                top: 13px;
                left: 14px;
                z-index: 10;
            }
            .player-tags-main,
            .player-tags-secondary {
                display: flex;
                flex-flow: row;
                margin-left: 8px;
                padding-left: 8px;
                align-items: center;
                position: relative;
            }
            .tag-separator {
                width: 2px;
                height: 70px;
                margin-right: 6px;
                background:rgba(170, 170, 170, 0.2);
            }
        }
        .player-status-and-res {
            display: flex;
            .player-status {
                display: flex;
                flex-flow: column;
                align-items: center;
                .player-status-top {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    .icons-and-count {
                        display: flex;
                        align-items: center;
                        flex-flow: row;
                        border-radius: 8px;
                        margin-right: 6px;
                        padding: 4px 6px;
                        background: linear-gradient(
                            #33200f 10%,
                            rgba(0, 0, 0, 0.3) 50%
                        );
                        .played-cards-icons {
                            display: flex;
                            .played-cards-arrow {
                                width: 15px;
                                height: 23px;
                                background: url("/assets/misc/green-arrow-down-15x23.png");
                            }
                            .played-cards-icon {
                                width: 34px;
                                height: 30px;
                                margin-top: -5px;
                                background-size: contain;
                                background: url(/assets/sidebar/preferences_cards.png);
                            }
                        }
                        .played-cards-count {
                            font-size: 20px;
                            font-family: Prototype;
                            line-height: 1;
                            margin-left: 6px;
                            width: 23px;
                            text-align: center;     
                        }
                    }
                }
                .player-status-bottom {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    .player-action-status-container.no-timer {
                        .player-action-status {
                            padding-bottom: 6px !important;
                        }
                    }
                    .player-action-status-container {
                        border-radius: 4px; 
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        font-family: Prototype;
                        width: 136px;
                        margin-top: 9px;
                        .player-action-status {
                            font-size: 16px;
                            line-height: 8px;
                            padding-top: 6px;
                            padding-bottom: 2px;
                        }
                        .player-status-timer {
                            font-size: 18px;
                            width: 100%;
                            .player-timer {
                                display: flex;
                                flex-flow: row;
                                width: 100%;
                                justify-content: center;
                                >div{
                                    display: inline-block;
                                }
                                .time-part {
                                    width: 23px;
                                    text-align: left;
                                }
                                .timer-delimiter {
                                    margin-left: 1px;
                                    margin-right: 1px;
                                }
                                .player-timer-minutes {
                                    text-align: center;
                                }
                                .player-timer-hours {
                                    font-size: 14px;
                                    width: 27px;
                                    text-align: right;
                                    line-height: 24px;
                                    align-self: flex-end;
                                    padding-right: 1px;
                                }
                            }
                        } 
                    }
                    .player-action-status-container--active {
                        background: #ccc;
                        border: 1px solid #ccc;
                        color: #000;
                    }
                    .player-action-status-container--passed {
                        background: #000;
                        border: 1px solid #000;
                        color: #ccc;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}
.tag-and-discount {
    position: relative;
}

@media only screen and (max-width: 1740px)  {
    .players-overview {
        .player-info-bottom {
            flex-flow: column !important;
        }
        .player-status-and-res {
            margin-bottom: 8px;
            padding-bottom: 8px;
        }
    }
}
