.resource_items_cont {
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    filter: grayscale(0.3);
}

.tags_item_cont {
    display: inline-block;
    white-space: nowrap;
    font-family: Prototype;
    margin-bottom: 15px;
    padding: 5px;
}

.resource_item {
    display: flex;
    border-radius: 10px;
    vertical-align: top;
    font-family: Prototype;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3) 50%);
    color: #e6e1e1;
    margin-left: 10px;
    min-width: 70px;
    padding: 8px 0px 4px 8px;
    box-sizing: border-box;
}

.resource_item_stock {
    white-space: nowrap;
}

.resource_item_stock_count {
    font-size: 30px;
    text-align: center;
    line-height: 1;
    text-shadow: 0 2px 2px black;
}

.resource_item_prod {
    border-radius: 10px 10px 0 0;
    color: #bb8760;
    text-shadow: 0 0 1px black;
    min-width: 40px;
    text-align: center;
}

.resource_item_prod_count {
    display: inline-block;
}

.resource_icon {
    width: 36px;
    height: 36px;
    display: inline-block;
    background-size: contain;
}

.resource_icon--rating {
    background-image: url(assets/tag-tr.png);
    border: 2px solid #ca3f1a;
    margin: 0 10px 0 10px;
}

.resource_icon--megacredits {
    background-image: url(assets/tag-megacredits.png);
    border: 2px solid #b08f00;
}

.resource_icon--microbe {
    background-image: url(assets/tag-microbe.png);
    border: 2px solid #050;
}

.resource_icon--floater {
    background-image: url(assets/tag-floater.png);
    border: 2px solid #be9749;
}

.resource_icon--titanium {
    background-image: url(assets/titanium.png);
    border: 2px solid #3c3c3c;
}

.resource_icon--steel {
    background-image: url(assets/steel.png);
    border: 2px solid #4b392d;
}

.resource_icon--plants {
    background-image: url(assets/tag-plant.png);
    border: 2px solid #050;
}

.resource_icon--energy {
    background-image: url(assets/tag-power.png);
    border: 2px solid #7700a6;
}

.resource_icon--heat {
    background-image: url(assets/tag-heat.png);
    border: 2px solid #ae4422;
}
