.empty-tile-small {
    background-color: rgb(190,190,190);
    color: rgb(50,50,50);
    font-weight: normal;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    padding: 5px;
}

.delegate {
    display: inline-block;
    background-image: url("./assets/delegate.png");
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
    background-repeat: no-repeat;
    vertical-align: middle;
    filter: drop-shadow(0px 1px 1px #222) drop-shadow(0px -1px 1px #222);
}

.delegate-red {
    filter: drop-shadow(0px 1px 1px darkred) drop-shadow(0px -1px 1px red) drop-shadow(0px 0px 2px black);
}

.influence {
    display: inline-block;
    background-image: url("./assets/delegate.png");
    width: 28px;
    height: 28px;
    background-size: 20px 19px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: #222;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    border: 1px solid rgb(221,221,221);
}

.chairman {
    display: inline-block;
    background-image: url("./assets/delegate.png");
    width: 30px;
    height: 30px;
    background-position: -1px 0px;
    background-color: #222;
    border-radius: 10px 10px 2px 2px;
    margin-bottom: 6px;
    background-repeat: no-repeat;
    vertical-align: middle;
    filter: drop-shadow(0px 1px 1px #222) drop-shadow(0px -1px 1px #222);
}