.ma-name--kingpin {
	background-image: url(./assets/ma/underworld/kingpin.png);
	background-repeat: no-repeat;
	background-size: 153px !important;
	background-position: -6px -5px !important;
}

.ma-name--edgelord {
	background-image: url(./assets/ma/underworld/edgelord.png);
	background-repeat: no-repeat;
	background-size: 153px !important;
	background-position: -6px -5px !important;
}

.ma-name--tunneler {
	background-image: url(./assets/ma/underworld/tunneler.png);
	background-repeat: no-repeat;
	background-size: 180px !important;
	background-position: -21px -7px !important;
}

.ma-name--risktaker {
	background-image: url(./assets/ma/underworld/risktaker.png);
	background-size: 165px !important;
	background-position: -11px -5px !important;
	background-repeat: no-repeat;
}

.card-tile-man-made-volcano {
	background: url("./assets/underworld/volcanic-tile.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--man-made-volcano {
	background: url("./assets/underworld/volcanic-tile.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
