.ma-name--kingpin {
	background-image: url(./assets/ma/underworld/kingpin.png);
	padding-top: 61px;
}

.ma-name--edgelord {
	background-image: url(./assets/ma/underworld/edgelord.png);
	padding-top: 61px;
}

.ma-name--tunneler {
	background-image: url(./assets/ma/underworld/tunneler.png);
	padding-top: 61px;
}

.ma-name--risktaker {
	background-image: url(./assets/ma/underworld/risktaker.png);
	padding-top: 61px;
}

.card-tile-man-made-volcano {
	background: url("./assets/underworld/volcanic-tile.png");
	width: 40px;
	height: 47px;
	background-size: 40px;
	background-repeat: no-repeat;
}

.board-space-tile--man-made-volcano {
	background: url("./assets/underworld/volcanic-tile.png");
	width: 44px;
	height: 50px;
	background-size: 44px, 50px;
}
