.wf-component {
    .wf-component-title {
        font-size: 23px;
    }
}

.wf-select-space {
    border: 10px solid red;
    display: inline-block;
    padding: 10px;
}

// For a subcomponent of SelectSpace
.gotomap_cont {
    span {
        color: #ddd;
        text-decoration: underline;
        text-decoration-color: #555;
    }
}

.wf-component--select-card {
    input {
        display: none;
    }
}

.wf-component--select-party {
    input {
        display: none;
    }
    .wf-component--list-party {
        display: flex;
        flex-flow: row;
    }
}
