# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Cloning repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # mount storage
      # dokku storage:mount mars.howardchung.net /home/howardc/mars:/app/db
      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@jeopardy.centralus.cloudapp.azure.com:22/mars.howardchung.net'
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}